@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
@media (min-width: 640px) {
	html {
		overflow: overlay;
	}
}

html {
	overflow-x: hidden;
}

.custom-img {
	background-image: url('../public/second.jpg');
	background-position: top 0px left -400px;
}

@media (min-width: 640px) {
	.custom-img {
		background-position: top -200px left 0px;
	}
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #222;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background: #333;
}
