@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.custom-img {
    background-image: url("../public/second.jpg");
}

@media (min-width: 640px) {
    .custom-img {
        background-position: top -200px left 0px;
    }    
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #666;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}